<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<style type="text/css">
	label, form, a { 
	left: 1%;
}
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
    <form action="salvarpessoa" method="post">
        <label>NOME:</label>
        <input name="nome" required="required">
        <label>SOBRENOME:</label>
        <input name="sobreNome" required="required">
        <label>IDADE:</label>
        <input name="idade" required="required"> 
        <br/>
        <br/>
        <input type="submit" value="Salvar" class="waves-effect waves-light btn-small" style="left:1%;">
    </form>
    <br/>
    <br/>
    <br/>
    
    <div >
    <a href="/listapessoas" class="waves-effect waves-light btn">listar pessoas </a>
    </div>
    
    <table style="width:100%;">
        <tr th:each = "pessoa : ${pessoas}">
            <td th:text = "${pessoa.id}"></td>
            <td th:text = "${pessoa.nome}"></td>
            <td th:text = "${pessoa.sobreNome}"></td>
            <td th:text = "${pessoa.idade}"></td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>