<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
    <form action="salvarpessoa" method="post">
        <label>NOME:</label>
        <input name="nome">
        <label>SOBRENOME:</label>
        <input name="sobreNome">
        <label>IDADE:</label>
        <input name="idade">
        <br/>
        <br/>
        <label>SALVAR:</label>
        <input type="submit" value="Salvar">
    </form>
    <table>
        <tr th:each = "pessoa : ${pessoas}">
            <td th:text = "${pessoa.id}"></td>
            <td th:text = "${pessoa.nome}"></td>
            <td th:text = "${pessoa.sobreNome}"></td>
        </tr>
    </table>
</div>

</body>
</html>